{{#if page.attributes.pdf-filename}}
  &nbsp;<i class="fa-solid fa-download"></i>&nbsp;
  <a href="{{{page.attributes.pdf-filename}}}" title="Save page as PDF">Download</a>
  &nbsp;&nbsp; &nbsp;&nbsp;
{{/if}}
