<footer class="footer">
  <p ><em>© Copyright 2024 Threat X, Inc. </em></p>
  <p>
    Last site deployment: {{page.attributes.build-date}}
  </p>
  <p>
    TX Prevent® and TX Protect® are registered trademarks of Threat X, Inc.
  </p>
</footer>
