<footer class="footer">
  <p>↗  Last updated on <strong>{{page.attributes.build-date}}</strong></p>
  <p>
    <a style="color: #c1c1c1" href="https://www.threatx.com">➡︎ Visit ThreatX.com</a> | <a style="color: #c1c1c1" href="mailto:support@threatx.com">❕ Report a Problem</a> 
  </p>
  <hr/>
  <p><em>© Copyright 2024 Threat X, Inc. All Rights Reserved.</em></p>
  <p>TX Prevent® and TX Protect® are registered trademarks of Threat X, Inc.</p>
</footer>
