<footer class="footer">
  <p>↗  Last updated on <strong>{{page.attributes.build-date}}</strong></p>
  <p>
    <a style="color: #c1c1c1" href="https://www.threatx.com">www.threatX.com</a> | <a style="color: #c1c1c1" href="mailto:support@threatx.com">Contact Support</a>
  </p>
  <hr/>
  <p><em>© Copyright 2024 Threat X, Inc. All Rights Reserved.</em></p>
</footer>
