<footer class="footer">
  <p align="center">
    <a style="color:#c1c1c1" href="https://www.threatx.com">ThreatX.com</a> | <a style="color:lightgray" href="mailto:support@threatx.com">Support</a>
  </p>
  <p align="center"><em>© Copyright 2024 Threat X, Inc. All rights reserved.</em></p>
</footer>
