<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <img src="{{{uiRootPath}}}/img/threatx-icon-red-tx.png"/>
      <a class="navbar-item" href="{{{or site.url siteRootPath}}}">{{site.title}}</a>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Search Documentation"{{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
      {{/if}}
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="#">📚 Home</a>
        <a class="navbar-item" href="mailto:support@threatx.com">🛟 Support</a>
        <div class="navbar-item has-dropdown is-hoverable">
      </div>
      </div>
    </div>
  </nav>
</header>
